<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>ru.cisco-vpn-manipulation</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>04491AE8-2769-48C6-ABC2-582AD187FB84</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>17C0C215-C2B7-4F9D-9E2C-C618F27CA379</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>17C0C215-C2B7-4F9D-9E2C-C618F27CA379</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>82AD19E1-34D3-4BD3-BF80-115F03DCFE3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1F5C2F02-AE96-494E-B485-3BD5E749C4C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6707415C-E29E-40B0-979C-8DEA41B7C4E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6707415C-E29E-40B0-979C-8DEA41B7C4E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>82AD19E1-34D3-4BD3-BF80-115F03DCFE3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6D98C8EF-BF60-44DC-8665-CE8230401F7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>82AD19E1-34D3-4BD3-BF80-115F03DCFE3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6DD0DD20-A746-4A98-A6C1-11760D071E4C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D98C8EF-BF60-44DC-8665-CE8230401F7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AAE940B8-F13B-4120-B1B5-BCBF9C2C1BB7</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>82AD19E1-34D3-4BD3-BF80-115F03DCFE3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>82AD19E1-34D3-4BD3-BF80-115F03DCFE3B</key>
		<array/>
		<key>AC4027FE-71F7-4D89-806F-CF8E5D409F1F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>82AD19E1-34D3-4BD3-BF80-115F03DCFE3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C680F79B-7C94-4BA7-BAA7-727B1BDE0474</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FFCC5A8D-F5A6-4AAD-A3E5-B52E140E0F6E</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6DD0DD20-A746-4A98-A6C1-11760D071E4C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>DA6D03DF-AB3C-431F-BE0E-87CCC4A70B7E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC4027FE-71F7-4D89-806F-CF8E5D409F1F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FFCC5A8D-F5A6-4AAD-A3E5-B52E140E0F6E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6DD0DD20-A746-4A98-A6C1-11760D071E4C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>com30n</string>
	<key>description</key>
	<string>Cisco VPN manipulation</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>VPN</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>set_host</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FFCC5A8D-F5A6-4AAD-A3E5-B52E140E0F6E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>vpn</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>zxc</string>
				<key>script</key>
				<string>/usr/bin/python main.py "{query}"
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>asd</string>
				<key>title</key>
				<string>qwe</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C680F79B-7C94-4BA7-BAA7-727B1BDE0474</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:set_host}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>true</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>AAE940B8-F13B-4120-B1B5-BCBF9C2C1BB7</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>6DD0DD20-A746-4A98-A6C1-11760D071E4C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>vpnh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python host_selection.py</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6D98C8EF-BF60-44DC-8665-CE8230401F7A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vpnd</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Disconnect from VPN</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>04491AE8-2769-48C6-ABC2-582AD187FB84</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python main.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>82AD19E1-34D3-4BD3-BF80-115F03DCFE3B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>connection_type</key>
					<string>disconnection</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>17C0C215-C2B7-4F9D-9E2C-C618F27CA379</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vpnc</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Connect to VPN</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1F5C2F02-AE96-494E-B485-3BD5E749C4C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>connection_type</key>
					<string>connection</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6707415C-E29E-40B0-979C-8DEA41B7C4E1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vpnr</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Reconnect to VPN</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DA6D03DF-AB3C-431F-BE0E-87CCC4A70B7E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>connection_type</key>
					<string>reconnection</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>AC4027FE-71F7-4D89-806F-CF8E5D409F1F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>04491AE8-2769-48C6-ABC2-582AD187FB84</key>
		<dict>
			<key>note</key>
			<string>Quick disconnec</string>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>17C0C215-C2B7-4F9D-9E2C-C618F27CA379</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>1F5C2F02-AE96-494E-B485-3BD5E749C4C1</key>
		<dict>
			<key>note</key>
			<string>Quick connect</string>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>555</integer>
		</dict>
		<key>6707415C-E29E-40B0-979C-8DEA41B7C4E1</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>585</integer>
		</dict>
		<key>6D98C8EF-BF60-44DC-8665-CE8230401F7A</key>
		<dict>
			<key>note</key>
			<string>Choice a VPN host</string>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>6DD0DD20-A746-4A98-A6C1-11760D071E4C</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>82AD19E1-34D3-4BD3-BF80-115F03DCFE3B</key>
		<dict>
			<key>xpos</key>
			<integer>675</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>AC4027FE-71F7-4D89-806F-CF8E5D409F1F</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>C680F79B-7C94-4BA7-BAA7-727B1BDE0474</key>
		<dict>
			<key>note</key>
			<string>Main menu</string>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>DA6D03DF-AB3C-431F-BE0E-87CCC4A70B7E</key>
		<dict>
			<key>note</key>
			<string>Quick reconnect</string>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>FFCC5A8D-F5A6-4AAD-A3E5-B52E140E0F6E</key>
		<dict>
			<key>xpos</key>
			<integer>385</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>connection_type</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>connection_type</string>
	</array>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
